/* .ativo {
    color: green;
    font-weight: bold;
}

.escuro {
    background-color: #222;
    color: white;
}

body{
    background-color: white;
    color: black;
}

bosfy.escuro{
    background-color: black;
    color: white;
}

#mensagemErro {
    color: red;
    font-size: 0.9rem;
    margin-top: 8px;
}

.erro {
    border: 2px solid red;
} */



.card-produto {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.titulo-produto {
    font-size: 1.4rem;
}

.preco-produto {
    font-weight: bold;
}

.adicionado {
    background-color: green;
    color: white;
}